//- SVG Sprite mixin
mixin icon(name,mod)
  - mod = (' icon-' + name + '--' + mod) || ''
  svg(class="icon icon-" + name + mod)
    use(xlink:href="img/spriteSvg.svg#" + name)

//- Card
mixin card(title, category, price, oldPrice, newProduct, sale)
  .cards-slider__card(data-filter=category)
    .cards-slider__photo
      if newProduct != ''
        span.product__tag.product__tag--new new
      if sale != ''
        span.product__tag.product__tag--sale sale
      img.cards-slider__img(src=('img/' + title + '.png'), alt=title)
      img.cards-slider__shape(src="img/card-shape.png", alt="shape")
      div.cards-slider__focus
        a.cards-slider__link.cards-slider__link--like(href="#")
          i.fas.fa-heart
        a.cards-slider__link.cards-slider__link--basket(href="#")
          i.fas.fa-shopping-basket
        a.cards-slider__link.cards-slider__link--size(href="#")
          i.fas.fa-expand-arrows-alt
    span.cards-slider__title organic&nbsp;
      span.cards-slider__title--bold= title
    span.cards-slider__price= price + ' '
      span.cards-slider__price--old= oldPrice

//- Prodcard
mixin prodCard (num, title, subtitle, col)
  .product-card
    img.product-card__img(src='img/product-' + num + '.png', alt="alt")
    span.product-card__line
    h5.product-card__title= title
      span.product-card__title.product-card__title--bold= subtitle
    a.product-card__link(href="#")= col

//- Feature
mixin feature(className, mod, num, title, subtitle)
  div(class= className + ' ' + mod)
    img.feature__img(src='img/about-icon-' + num + '.png', alt="icon")
    h3.feature__title= title
      span.feature__title.feature__title--bold= subtitle
    p.feature__text
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
    a.feature__link(href="#") READ MORE

//- Deals Card
mixin dealsCard(subtitle, title, titleBold, price, oldPrice, newProduct, sale)
  .deals-card
    .deals-card__nav
      a(href="#").deals-card__link.deals-card__link--like
        i.fas.fa-heart
      a(href="#").deals-card__link.deals-card__link--basket
        i.fas.fa-shopping-basket
      a(href="#").deals-card__link.deals-card__link--modal
        i.fas.fa-expand-arrows-alt
    .deals-card__content
      .deals-card__subtitle= subtitle
      .deals-card__title= title + ' '
        span.deals-card__title.deals-card__title--bold= titleBold
      .deals-card__desc
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
      span.deals-card__price= price + ' '
        span.deals-card__price--old= oldPrice
    .deals-card__right
      .deals-card__label
        if newProduct != ''
          span.deals-card__tag.deals-card__tag--new new
        if sale != ''
          span.deals-card__tag.deals-card__tag--sale sale
      .deals-card__pic(class= 'deals-card__pic--' + titleBold)
        img(src='img/' + titleBold + '.png', alt=titleBold)

//- RandomCard
mixin randomCard(name, price)
  a.random-slider__card(href="#")
    .random-slider__pic
      img(src='img/' + name + '.png', alt=name)
    .random-slider__text
      span.random-slider__title organic&nbsp;
        span.random-slider__title.random-slider__title--bold= name
      span.random-slider__price= ' ' + price
